<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCdL3NO7o_UyYTcCt09Kw9FEf62WGy6sc</string>
	<key>GCM_SENDER_ID</key>
	<string>446805045923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyeony.imjanger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>imjang-catch-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>imjang-catch-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446805045923:ios:b9fe016571653cd1b64516</string>
</dict>
</plist>